table {
    border-collapse: collapse;
    width: 920px;
	height: 360px;
	table-layout: fixed;
}

th, td {
    padding: 1px;
}

tr:nth-child(even){background-color:#f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
}

input[type=text]{
    width: 100px;
    height:9px;
    padding: 11px 4px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    width: 100%;
    font-size: 22px;
    background-color: #4CAF50;
    color: white;
    padding: 2px 0px;
    margin: 3px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color:#45a049;
}
input[type=button] {
    width: 100px;
    background-color: white;
    color: white;
    padding: 5px 0px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=button]:hover {
    background-color: grey;
}
#btnHome {
    width: 120px;
    background-color: green;
    color: white;
    padding: 5px 0px;
    margin: 6px 10px 4px 7px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight:bold;
    font-size:21;
    
}

#btnHome:hover {
    background-color: #45a049;
}
#notFound{
	vertical-align: middle;
}
input[class=input2]:hover{
background-color:#45a049;
color:white;
}
th:nth-child(2) {
    padding-right: 15px;
}

.error {color: #FF0000;}

.styled select {
  background: transparent;
  width: 150px;
  font-size: 18px;
   margin-bottom:15px;
 border-style: solid;
    
  height: 50px;
}

.styled {
  margin: 8px 5px 8px 5px;
  width: 120px;
  height: 40px;
  
  
}

.naw3l3amal select{
background: transparent;
  width: 150px;
  font-size: 18px;
  height: 53px;
}

.naw3l3amal {
  margin: 10px 5px 10px 5px;
  width: 120px;
  height: 53px;
  
  }
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

  
}



